@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);

.grading {
    min-height: 100vh;
    height: 100%;
    overflow: auto;

    display: flex;

    align-items: flex-start;
    justify-content: flex-start;

    flex-direction: column;

    background-color: #f2f2f3;
    background-size: cover;
}

.grading .header-container {
    width: 80vw;
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: column;

    margin-top: 15vh;
    margin-left: 10vw;
}

.grading .text-container {
    width: 80vw;
    display: flex;

    align-items: flex-start;
    justify-content: flex-start;

    flex-direction: column;

    margin-top: 25px;
    margin-left: 10vw;
}

.grading .header-container h1 {
    font-family: "Roboto";
    font-style: bold;
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 10px;
}

.grading .header-container h2 {
    font-family: "Roboto";
    font-style: bold;
    font-size: 1.6em;
    margin-top: 0px;
    margin-bottom: 45px;
}

.grading .text-container h3 {
    font-family: "Roboto";
    font-style: bold;
    font-size: 1em;
    margin-bottom: 0px;
}

.grading .text-container p {
    font-family: "Roboto";
    font-style: normal;
    font-size: 1em;
    line-height: 1.35em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.grading .text-container li {
    font-family: "Roboto";
    font-style: normal;
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 5px;
}

.grading .text-container .small-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    font-size: 0.875em;
    display: flex;

    color: #000000;
}

.grading .text-container .big-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    font-size: 2.25em;
    
    color: #000000;

    margin-top: 0.1em;
    margin-bottom: 1em;
}

.grading .button-container {
    width: 100vw; 
    
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: column;

    margin-top: 25px;
}